/**
 * @file
 * Contains styles for icons.
 */

:root {
  --breezy-icon-padding: 2px;
  --breezy-icon-border-radius: 50%;
}

.breezy-utility-icon-button {
  padding: var(--breezy-icon-padding);
  border-radius: var(--breezy-icon-border-radius);
}

#drupal-off-canvas-wrapper .breezy-utility-icon-button {
  padding: var(--breezy-icon-padding);
  border-radius: var(--breezy-icon-border-radius);
}
